body {
  font-family: serif;
  background-color: #FFFFFF;
}

header {
  background-color: #330066;
  padding: 20px;
}

fieldset {
  background-color: #efefef;
}

#footer {
  background-color: #330066;
  padding: 20px;
}

#footer p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 1px 1px #FFFFFF;
}

@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  nav li {
    margin: 10px 0;
  }
}

.container {
  /*display: flex;
  justify-content: center;
  flex-direction: column;*/
  align-items: center;
  margin-bottom: 10px;

.name {
  font-weight: bold;
  margin-bottom: 10px;
}

.skills {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills li {
  display: inline-block;
  margin-right: 10px;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}
